#root {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.doJlBZ {
  display: flex;
  justify-content: center;
}

.card {
  padding: 2em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.article-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-card-item {
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.article-card-item img {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.ph-img {
  width: 25%;
}

.login {
  margin-top: 15px;
}

#username-form,
#password-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.related-articles {
  display: flex;
  margin-bottom: 10px;
}

.topic-title {
  width: 18rem;
  height: auto;
}

ol,
ul {
  list-style-type: none;
  padding: 20px;
}

ol li {
  margin-bottom: 15px;
  padding-left: 20px;
  text-align: left;
  border-left: 3px solid #ccc;
}

ol li h4 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  padding-bottom: 5px;
}

ol li p {
  font-size: 1em;
  line-height: 1.5;
  margin: 5px 0;
}

ol li p:last-child {
  font-size: 0.85em;
  color: #666;
}

.users-comments {
  border: solid black;
}

.navigation {
  display: flex;
  flex-direction: row;
}
